@font-face {
	font-display: block;
	font-family: PTSerif;
	src: url(/fonts/PTSerif.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #3e3e3e;
	color: #ffffff;
}

.content {
	display: grid;
	grid-template-columns: auto min(70ch, 100%) auto;
	gap: 0;

	/* inspired by https://jrl.ninja/etc/1/, with changes */
	padding: 2ch;
	margin: auto;
}

.content > * {
	grid-column: 2;
	padding: revert;
	margin: revert;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.content > hr {
	width: 85%;
}

/* code blocks and headings shouldn't have these */
.content > :not(pre, h1, h2, h3, h4, h5, h6) {
	font-family: PTSerif, serif;
}

/* TODO:  apply rest of recommended Zola formatting */
.content > pre {
	font-family: monospace;
	padding: 1ch;
	overflow-x: auto;
	grid-column: 1 / 4;
	width: max(70ch, 70%);
	margin: auto;
}

a {
	color: #ff91ac;
}

/* a little too garish...
::selection {
	background-color: #ff4f00;
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", sans-serif;
}
