@font-face {
	font-family: PTSerif;
	src: url(/fonts/PTSerif.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #3e3e3e;
	color: #ffffff;
}

.content {
	/* inspired by https://jrl.ninja/etc/1/, with changes */
	max-width: 70ch;
	padding: 2ch;
	margin: auto;
}

@media screen and (max-width: 640px) {
	.content {
		max-width: auto;
		font-size: 120%;
		margin: 2ch;
		max-width: initial;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	.content {
		max-width: auto;
		font-size: 120%;
		margin: 2ch;
		max-width: initial;
	}
}


/* code blocks shouldn't have these */
.content > :not(pre) {
	font-family: PTSerif, serif;
}

.content > pre {
	font-family: monospace;
	padding: 0.5ch;
	margin-left: 5ch;
	margin-right: 5ch;
}

a {
	color: #d2738a;
}

/* a little too garish...
::selection {
	background-color: #ff4f00;
}
*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", sans-serif;
}
