{% extends "base.html" %}

{% block title %}Some weird site{% endblock title %}

{% block content %}
<style type="text/css">
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "intro posts" "footer posts";
	}

	#intro {
		grid-area: intro;
		background-color: #3e3e3e;
		display: flex;
		flex-direction: column-reverse;
	}

	#posts {
		grid-area: posts;
		background-color: #5d5d5d;
		overflow: auto;
	}

	#footer {
		grid-area: footer;
		background-color: #3e3e3e;
	}

	.post {
		border-bottom-style: dashed;
		border-top-style: dashed;
	}

	.content {
		max-width: 50ch;
	}

	@media screen and (max-width: 640px) {
		body {
			display: block;
		}
	}

	@media print {
		body {
			display: block;
		}
	}
</style>

<div id="intro">
	<h1 style="text-align: center; padding: 2ch;">A5rocks</h1>
</div>
<div id="posts">
	{% set blog_section = get_section(path="posts/_index.md") %}
	{% for page in blog_section.pages | sort(attribute="updated") | reverse %}
	<div class="content post">
		<h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3>
		{{ page.content | truncate(length=180, end="...") | safe }}
	</div>
	{% endfor %}
</div>
<div id="footer">
	<p class="content"><a href="https://github.com/A5rocks/site">Check out the source code...</a></p>
	<p class="content"><a href="https://github.com/A5rocks">Or my GitHub profile.</a></p>
</div>
{% endblock content %}
