{% extends "base.html" %}

{% block title %}Some weird site{% endblock title %}

{% block content %}
<style type="text/css">
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "intro posts" "footer posts";
	}

	#intro {
		grid-area: intro;
		background-color: #3e3e3e;
		display: flex;
		flex-direction: column-reverse;
	}

	#posts {
		grid-area: posts;
		background-color: #5d5d5d;
		overflow: auto;
	}

	#footer {
		grid-area: footer;
		background-color: #3e3e3e;
	}

	.post {
		border-bottom-style: dashed;
		border-top-style: dashed;
	}

	.content {
		max-width: 50ch;
	}

	@media screen and (max-width: 640px) {
		body {
			display: block;
		}
	}

	@media print {
		body {
			display: block;
		}
	}
</style>

<div id="intro">
	<h1 style="text-align: center; padding: 2ch;">A5rocks</h1>
</div>
<div id="posts">
	{% set blog_section = get_section(path="posts/_index.md") %}
	{% for page in blog_section.pages | sort(attribute="updated") | reverse %}
	<div class="content post">
		<h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
		<p>{{ page.content | split(pat="</p>") | first() | striptags() | safe }}</p>
	</div>
	{% endfor %}
</div>
<div id="footer" class="content">
	<p><a href="https://github.com/A5rocks/site">Check out the source code...</a></p>
	<p><a href="https://github.com/A5rocks">Or my GitHub profile.</a></p>
	<p>
			I'm on Discord too: I'm A5rocks#9289, and you can find me on
			<a href="https://discord.gg/0cDvIgU2voWn4BaD">Discord Bots</a>,
			<a href="https://discord.gg/discord-api">Discord API</a>, and
			<a href="https://discord.gg/discord-developers">Discord Developers</a>.
			Feel free to drop me a DM!
	</p>
	<p>Last built&mdash;including Webmentions&mdash;on {{ now() | date(format="%A, %B %-d") }}.</p>
</div>
{% endblock content %}
