{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block metadata %}
	<meta property="theme-color" content="#c1b492">
	<meta property="og:title" content="{{ page.extra.good_title | default(value=page.title) }}">
	<!-- TODO: use page.summary support -->
	<meta property="og:description" content="{{ page.content | split(pat="</p>") | first() | striptags() | truncate(length=120) | safe }}">
	<meta name="description" content="{{ page.content | split(pat="</p>") | first() | striptags() | truncate(length=120) | safe }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.permalink | safe }}">
	<meta property="og:article:published_time" content="{{ page.date | date() }}">
	<meta property="og:article:modified_time" content="{{ page.updated | date() }}">
	<meta property="og:article:author:username" content="A5rocks">

	<link href="{{ config.extra.webmentions_url | safe }}" rel="webmention">
	<link href="https://webmention.io/webmention?forward={{ config.extra.webmentions_url | safe }}" rel="pingback">
	<!-- TODO: move this out into main template? -->
	<link href="{{ page.permalink | safe }}" rel="canonical">
{% endblock metadata %}

{% block content %}
	<div class="content">
		<h1>{{ page.title }}</h1>
		<p>
			Created <strong>{{ page.date | date(format="%Y-%-m-%-d") }}</strong>
			{% if page.date != page.updated %}
				| Last edited <strong>{{ page.updated | date(format="%Y-%-m-%-d") }}</strong>
			{% endif %}
		</p>
		{% if page.taxonomies is containing("projects") %}
		<!-- TODO: get(key="projects", default=[]) -->
		{% set projects = page.taxonomies | get(key="projects") %}
		<p>Related to {{ projects | length }} project{{ projects | length | pluralize }}.</p>

		{% if projects | length > 0 %}
		<ul>
			{% for project in projects %}
			<li><p><a href="/projects/{{ project | slugify }}">{{ project | capitalize }}</a></p></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endif %}

		<hr>
		{{ page.content | safe }}
		<hr>

		{% if page.taxonomies is containing("projects") %}
		{% if "bots.gg" in projects %}
		<p>This work was done as part of <a href="https://discord.bots.gg">discord.bots.gg</a>.</p>
		<hr>
		{% endif %}
		{% if "library" in projects %}
		<p>This work was done as part of my so-far-unpublished Discord library.</p>
		<hr>
		{% endif %}
		{% if "bot" in projects %}
		<p>This work was done as part of my so-far-unpublished Discord bot.</p>
		<hr>
		{% endif %}
		{% endif %}

		<h2>Mentions around the web</h2>
		<p>... TODO ...</p>
	</div>
{% endblock content %}
